@using mvcodev.Models.Data
@model List<mekan>
@{
    ViewBag.Title = "mekan";
    Layout = "~/Views/Shared/admin.cshtml";
}

@*@{ if (Session["kullanici_id"] != null)
    {*@
<table class="table table-bordered">
    <tr>
        <th> MEKAN İD</th>
        <th> MEKAN ADI</th>
        <th> ADRES</th>
        <th> KAPASİTE</th>
        
        <th> FİYAT</th>
        <th> SİL/GÜNCELLE </th>
    </tr>

    <tbody>
        @foreach (var mekan in Model)
        {
            <tr>
                <td>@mekan.mekan_id</td>
                <td>@mekan.mekan_adi</td>
                <td>@mekan.mekan_adres</td>
                <td>@mekan.kapasite</td>
               
                <td>@mekan.mekan_ucret</td>
                <td>
                    <a href="/admin/mekanSIL/@mekan.mekan_id" class=" btn btn-danger">SİL</a>
                    <a href="/admin/guncelmekan/@mekan.mekan_id" class=" btn btn-success">GÜNCELLE</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/admin/yenimekan/" class="btn btn-primary">YENİ MEKAN EKLE</a>
    
  


